.da_enter-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 75%;
  border-bottom-right-radius: 250px;
  background: rgb(77,65,245);
  background: linear-gradient(90deg, rgba(77,65,245,1) 30%, rgba(46,187,255,1) 100%);
}

/*
 * ENTER SECTION
 */
#da_enterSection {
  padding-top: 90px;
  height: calc(100% - 100px);
}
.da_enter-block {
  width: 45%;
  margin-bottom: 50px;
}
.da_enter-container {
  height: calc(100% - 90px);
  position: relative;
  display: flex;
  align-items: center;
}
.da_enter-heading {
  color: white;
  font-size: 48px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.da_enter-heading2 {
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}
.da_enter-text {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 1.5em;
}
.da_enter-block-img {
  margin-top: 30px;
  width: 55%;
  height: calc(100vh - 350px);
  background-image: url('../images/main_screens.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .da_enter-bg {
    height: calc(100% - 25px);
  }
  #da_enterSection {
    padding-top: 60px;
    height: 100%;
  }
  .da_enter-container {
    height: calc(100% - 60px);
  }
  .da_enter-block {
    width: 50%;
    margin-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .da_enter-heading {
    padding-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
  }
  .da_enter-text {
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  .da_enter-block-img {
    margin-top: 10px;
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .da_enter-bg {
    height: calc(100% - 25px);
  }
  #da_enterSection {
    padding-top: 60px;
    height: calc(100% - 60px);
  }
  .da_enter-container {
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .da_enter-block-img {
    width: 100%;
    height: 38vh;
    margin-top: 29px;
  }
  .da_enter-block {
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
  }
  .da_enter-heading {
    font-size: 32px;
    padding-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .da_enter-text {
    max-width: 100%;
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media screen and (max-height: 619px) and (max-width: 767px) {
  .da_enter-container {
    display: block;
  }
  .da_enter-block {
    max-height: 100%;
    height: 100%;
    width: 100%;
  }
  .da_enter-block-img {
    display: none;
    background: none;
  }
}

/*
 * SERVICES SECTION
 */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gotham-Regular', sans-serif;
  color: black;
}
.services-heading {
  margin-bottom: 60px;
  font-size: 40px;
}
.services-heading-desc {
  max-width: 700px;
  line-height: 1.25;
  padding: 0 20px 50px 20px;
  font-size: 21px;
  text-align: center;
}
.services-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start
}
#Features > div > div:nth-child(4){
  margin-top: 30px;
}
.service {
  padding: 15px;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service > div:nth-child(1){
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}
.service-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.service-icon-mobile {
  background-image: url('../images/svg/mobile.svg');
}
.service-icon-web {
  background-image: url('../images/svg/web.svg');
}
.service-icon-design {
  background-image: url('../images/svg/ux.svg');
}
.service-heading {
  font-size: 19px;
  margin-bottom: 25px;
}
.service-text {
  font-size: 16px;
  color: #656565;
  line-height: 1.5;
  margin-bottom: 25px;
}
.service-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.service-list-item-marker {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/svg/list.svg');
}
.service-list-item-name {
  font-size: 17px;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .services-heading {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .services-heading-desc {
    font-size: 19px;
    padding: 0 20px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .services-heading {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .services-heading-desc {
    font-size: 17px;
    padding: 0 20px 30px 20px;
  }
  .services-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service {
    margin-bottom: 25px;
  }
}

/*
 * SERVICES SECTION
 */
#TryItNow {
  background-color: #f8f9fb;
}
.case-studies {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Gotham-Regular', sans-serif;
  color: black;
}
.case-studies-heading {
  margin-bottom: 60px;
  font-size: 40px;
}
.case-studies-heading-desc {
  max-width: 700px;
  line-height: 1.25;
  padding: 0 20px 50px 20px;
  font-size: 21px;
  text-align: center;
}
.try-it-now-heading-desc {
  line-height: 2;
}
.case-studies-main-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.case-studies-block {
  width: 80%;
  display: flex;
  align-items: center;
}
.case-studies-block-img {
  width: 50%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.case-studies-chat-img {
  background-image: url('../images/chat_screen.png');
}
.case-studies-chat-bot-img {
  background-image: url('../images/chat_bot_screen.png');
}
.case-studies-block-info {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.case-studies-block-info > div:nth-child(1){
  display: flex;
  flex-direction: row;
  align-items: center;
}
.case-studies-block-icon {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/svg/icon.svg');
}
.case-studies-block-heading {
  font-size: 19px;
  margin-bottom: 10px;
}
.case-studies-block-text {
  font-size: 16px;
  color: #656565;
  line-height: 1.5;
  margin-bottom: 40px;
}
.case-studies-block-link {
  font-size: 16px;
  color: #0062f1;
  text-decoration: none;
  border-bottom: 1px dashed;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .case-studies-heading {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .case-studies-heading-desc {
    font-size: 19px;
    padding: 0 20px 30px 20px;
  }
  .case-studies-block {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .case-studies-heading {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .case-studies-heading-desc {
    font-size: 17px;
    padding: 0 20px 30px 20px;
  }
  .case-studies-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .case-studies-block-img {
    width: 100%;
    height: 250px;
    order: 1;
  }
  .case-studies-block-info {
    width: 100%;
    order: 2;
  }
}

/*
 * FEEDBACK SECTION
 */
#Testimonials {
  background-color: #f8f9fb;
  padding: 100px 0;
}
.feedback {
  color: #203957;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.feedback-heading {
  margin-bottom: 50px;
  padding: 0 20px;
  max-width: 400px;
  font-size: 40px;
}
.feedback-comments {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.feedback-comment {
  min-width: 260px;
  max-width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0px 15px 60px 0px #dfdfe2;
}
.feedback-comment-top {
  margin-bottom: 80px;
}
.feedback-comment-middle {
  margin-top: 40px;
  margin-bottom: 40px;
}
.feedback-comment-bottom {
  margin-top: 80px;
}
.feedback-comment-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/svg/testimonials.svg');
}
.feedback-comment-text {
  font-size: 17px;
}
.feedback-comment-user {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.feedback-comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/svg/testimonials.svg');
}
.feedback-comment-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.feedback-comment-name {
  font-size: 15px;
}
.feedback-comment-status {
  font-size: 14px;
  font-family: 'Gotham-Light', sans-serif;

}

@media (min-width: 767px) and (max-width: 1023px) {
  .feedback {
    align-items: center;
  }
  .feedback-heading {
    padding: 0;
    margin-bottom: 40px;
    font-size: 32px;
    text-align: center;
  }
  .feedback-comments,
  .feedback-comments {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .feedback-comment-top,
  .feedback-comment-middle,
  .feedback-comment-bottom {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .feedback {
    align-items: center;
  }
  .feedback-heading {
    padding: 0;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  .feedback-comments,
  .feedback-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback-comment-top,
  .feedback-comment-middle,
  .feedback-comment-bottom {
    margin: 15px;
  }
}

/*
 * FEEDBACK SECTION
 */
#ContactUs {
  padding-bottom: 100px;
}
.da_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.da_contact-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}
.da_contact-heading-desc,
.da_contact-contact-info {
  max-width: 700px;
  line-height: 1.25;
  padding: 0 20px 30px 20px;
  font-size: 21px;
  text-align: center;
}
.da_contact-contact-info-call {
  color: #000000;
  text-decoration: none;
}
.da_contact-contact-info-email {
  color: #4c42f5;
  text-decoration: none;
  border-bottom: 1px solid #4c42f5;
}
.da_contact_form_wrapper {
  max-width: 100%;
  padding: 15px 0;
}
.da_contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.da_contact-form-inp,
.da_contact-form-textarea {
  border: none;
  border-bottom: 1px solid #656565;
  text-align: center;
  padding: 0 15px;
  margin: 20px 0 5px 0;
  max-width: 500px;
  height: 30px;
  max-height: 200px;
  font-size: 18px;
  font-family: "Gotham-Regular", sans-serif;
}
.da_contact-form-textarea {
  margin-bottom: 20px;
}
.da_contact-form-inp:focus,
.da_contact-form-inp:active,
.da_contact-form-textarea:focus,
.da_contact-form-textarea:active {
  border-bottom: 1px solid #4c42f5;
}
.da_contact-form-inp:focus::-webkit-input-placeholder,
.da_contact-form-inp:focus:-moz-placeholder,
.da_contact-form-inp:focus::-moz-placeholder,
.da_contact-form-inp:focus:-ms-input-placeholder,
.da_contact-form-textarea:focus::-webkit-input-placeholder,
.da_contact-form-textarea:focus:-moz-placeholder,
.da_contact-form-textarea:focus::-moz-placeholder,
.da_contact-form-textarea:focus:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}
.da_contact-form-textarea:focus,
.da_contact-form-textarea:active {
  text-align: left;
}
.da_contact-btn {
  color: white;
  font-size: 18px;
  padding: 15px 50px;
  background-color: #4c42f5;
  border-radius: 50px;
  margin: 20px 0 0 20px;
  border: none;
}
@media (min-width: 767px) and (max-width: 1023px) {
  .da_contact-heading {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .da_contact-heading-desc,
  .da_contact-contact-info {
    font-size: 19px;
    padding: 0 20px 20px 20px;
  }
}

@media screen and (max-width: 767px) {
  .da_contact-heading {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .da_contact-heading-desc,
  .da_contact-contact-info {
    font-size: 17px;
    padding: 0 20px 20px 20px;
  }
  .da_contact-form-inp,
  .da_contact-form-textarea {
    width: 300px;
    font-size: 16px;
  }
}